.game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.hand {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.player-info {
  position: absolute;
  top: 5%;
  left: 10%;
}

.scoreboard {
  position: absolute;
  top: 5%;
  right: 10%;
}

.server-msg { /** top center */
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  /* position: absolute;
  top: 5%;
  justify-content: center; */
}

.center-card-slot {
  width: 100px;
  height: 140px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand-card-slot { /** separate css, ex. green border for valid cards on turn */
  width: 100px;
  height: 140px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: 0.5rem;
  left: 0.5rem;
}

.card::after {
  bottom: 0.5rem;
  right: 0.5rem;
  transform: rotate(180deg);
}
